{% load static %}
<!-- ================================
Start Footer
================================= -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/ybshankar010/" target="_blank"><i class="bi bi-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/ybs010" target="_blank"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/ybs.010/" target="_blank"><i class="bi bi-instagram"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/ybs010/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </li>
                <li><a href="https://medium.com/@ybshankar010" target="_blank"><i class="bi bi-medium"></i></a></li>
            </ul>

        </div>

        <div class="copyrightCol">
            <p>&copy; Copyrights Folio. All rights reserved.</p>

            <div class="credits">
                <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </div>
</div>
<!-- ================================
End Footer
================================= -->