{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Shankar Y Bhavani Portfolio{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

{% block extend_header %}{% endblock %}

{% block extend_footer %}{% endblock %}

<!-- ================================
Start Content
================================= -->

{% block content %}
<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      <h1>I'm <span class="typed" data-typed-items="Shankar Y Bhavani, Architect, Developer, Content Generator"></span>
      </h1>
      <p>Architect, Developer, Content Generator</p>

      <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/ybshankar010/" target="_blank"><i class="bi bi-facebook"></i></a>
        </li>
        <li><a href="https://twitter.com/ybs010" target="_blank"><i class="bi bi-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/ybs.010/" target="_blank"><i class="bi bi-instagram"></i></a>
        </li>
        <li><a href="https://www.linkedin.com/in/ybs010/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </li>
        <li><a href="https://medium.com/@ybshankar010" target="_blank"><i class="bi bi-medium"></i></a></li>
      </ul>
    </div>
  </div>
</div><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="{{me.userprofile.avatar.url}}" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">
            <p class="p-heading">{{me.userprofile.bio}}</p>
            <p class="separator">{{me.userprofile.description}}</p>
            <br /><br />
            <div class="col-auto">
              <a download href="{{me.userprofile.cv.url}}" class="btn btnPrimary">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <div id="services">
    <div class="container">

      <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <!-- Start SKILL item -->
          {% for sk in me.userprofile.skills.all %}
          <div class="swiper-slide">
            <div class="services-block">
              <i class="{{sk.image}}"></i>
              <span>{{sk.name}}</span>
              <p class="separator">{{sk.description}} </p>
            </div>
          </div>
          {% endfor %}
          <!-- End SKILL item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </div><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <div id="portfolio" class="paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-company">Company</li>
            <li data-filter=".filter-github">Git hub</li>
            <li data-filter=".filter-freelance">Freelance</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        {% for p in portfolio %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-company">
          <img src="{{p.image.url}}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{p.name}}</h4>
            {% if p.is_active %}
            <p>{{p.date.year}} - </p>
            {% else %}
            <p>{{p.date.year}} - {{p.enddate.year}}</p>
            {% endif %}
            <a href="{{p.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i
                class="bx bx-plus"></i></a>
            <a href="{% url 'main:portfolio' slug=p.slug %}" class="details-link" title="More Details"><i
                class="bx bx-link"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div><!-- End Portfolio Section -->

  <!-- ======= Journal Section ======= -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Blog</h2>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">
          {% for b in blogs %}
          <div class="col-lg-4 col-md-6">
            <div class="journal-info">
              <a href="{{b.url}}"><img src="{{b.image.url}}" class="img-responsive" alt="img"></a>
              <div class="journal-txt">
                <h4><a href="{{b.url}}" target="_blank">{{b.name}}</a></h4>
                <p class="separator">{{b.description}} </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div><!-- End Journal Section -->

  <!-- ======= Contact Section ======= -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>Hyderabad, Telangana</span></li>
                <li><span>India</span></li>
                <li><span>+91 XXXXX-XXXXX</span></li>
                <li><span>yeleswarapushankar@gmail.com</span></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form method="post" role="form" class="php-email-form" action="/contact/">
              {% csrf_token %}
              <div class="row gy-3">

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="mt-0">
                  <input type="submit" class="btn btnPrimary" value="Send message">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}
<!-- ================================
End Content
================================= -->